/ChessZ-5100final-d2b196d79556/Project/nbproject/private/
/Project copy 2/build/
/Project copy 2/nbproject/private/
/Project copy/build/
/Project copy/nbproject/private/
/Project.myBackup/build/
/Project.myBackup/nbproject/private/